@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.navbar__items {
    border-top: 3px solid lightgray;
    display: flex;
    flex-direction: row;
}

.navbar__item {
    font-size: 1.75rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #164b5c;
    border-right: 1px solid lightgray;
}

#navbar__item__right {
    border-right: none !important;
}

.navbar__label {
    text-align: center;
    color: #164b5c;
    font-size: .75rem;
    margin-top: -2px;
    font-family: 'Roboto', sans-serif;
}

.navbar__bottom__layout__without{
    margin-top: 720px;
}
 
.navbar__item div {
    margin-top: 10px;
    margin-bottom: -10px;
}

.navbar__item div {
    margin-top: 10px;
}